<div class="container">
  <div class="row header">
    <div class="col-md-12">
    <h1>Blog Application</h1> 
    </div>
  </div>
  <nav class="navbar  navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#id01" >
          <span class="nabar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="id01">
          <ul class="nav navbar-nav">
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/about']">About</a></li>
            <li><a [routerLink]="['/create']">Post A Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>